.file-tree-item {
    padding-left: 8px;
    padding-right: 8px;
}

.depth-0 {
    padding-left: 8px;
}

.depth-1 {
    padding-left: 20px;
}

.depth-2 {
    padding-left: 32px;
}

.depth-3 {
    padding-left: 44px;
}

.depth-4 {
    padding-left: 56px;
}

.depth-5 {
    padding-left: 68px;
}

.depth-6 {
    padding-left: 80px;
}

.depth-7 {
    padding-left: 92px;
}

.depth-8 {
    padding-left: 104px;
}

.depth-9 {
    padding-left: 116px;
}

.depth-10 {
    padding-left: 128px;
}

.depth-11 {
    padding-left: 140px;
}

.depth-12 {
    padding-left: 152px;
}

.depth-13 {
    padding-left: 164px;
}

.depth-14 {
    padding-left: 176px;
}

.depth-15 {
    padding-left: 188px;
}