.dashboard-root {
    background-color: var(--color-background);
    font-family: var(--font-family);
    color: var(--color-text-base);
}

.dashboard-sidebar {
    background-color: var(--color-surface);
}

.dashboard-header {
    background-color: var(--color-surface);
}